.product {
    margin-bottom: 100px;
    padding-bottom: 250px;
    padding-top: 150px;

    .text {
        width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    .container {
        max-width: 1600px;
        margin: 0 auto;
    }

    .title {

        font-family: Hind Siliguri;
        font-size: 96px;
        font-weight: 700;
        line-height: 96px;
        text-align: left;
        width: 730px;
        height: 192px;
        margin-left: -5px;

    }

    .item__title {
        font-family: Hind Siliguri;
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;

    }

    .item__subtitle {
        font-family: Hind Siliguri;
        font-size: 14px;
        font-weight: 400;
        line-height: 22.64px;
        text-align: center;
        color: rgba(189, 189, 189, 1);
        width: 220px;
        margin-left: 65px;
    }

    .subtitle {
        font-family: Hind Siliguri;
        font-size: 24px;
        font-weight: 400;
        line-height: 38.81px;
        text-align: left;
        color: rgba(189, 189, 189, 1);
        width: 350px;
        height: 156px;
        margin-left: 50px;

    }

    .hero__item {
        display: flex;
        gap: 50px;
        margin-left: 115px;
    }

    .img {
        margin-top: 63px;
        width: 32px;
    }

    .hero4__item {
        align-items: center;
        text-align: center;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.04);
        width: 350px;
        height: 350px;
        border-radius: 12px;
        transition: all ease 0.5s;
    }
    .arrow__item{
        display: none;
        transition: all ease 0.5s;
    }
    .hero4__item:hover{
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.139);
        transform: scale(1.1);
        .arrow__item{
            display: block;
            transition: all ease 0.5s;
        }
    }

    .subimg1 {
        background: rgba(255, 189, 116, 0.05);
        border-radius: 50%;

    }

    .subimg2 {
        background: rgba(226, 89, 139, 0.05);
        border-radius: 50%;

    }

    .subimg3 {
        background: rgba(77, 18, 238, 0.05);
        border-radius: 50%;

    }
}
